*.pyc
__pycache__/
*.pyo
*.pyd
.Python
env/
venv/
entorno.venv/
*.venv
.env
.venv
pip-log.txt
pip-delete-this-directory.txt
.tox/
.coverage
.coverage.*
.cache
nosetests.xml
coverage.xml
*.cover
*.log
.git
.mypy_cache
.pytest_cache
.hypothesis
downloads/
*.db
*.sqlite
*.sqlite3
ssl/
*.pem
*.key
*.crt
requirements_new.txt
youtube_cookies.txt
.DS_Store
Thumbs.db
.vscode/
.idea/
*.swp
*.swo
*~
